
* {
  font-family: arial;
}

main {
  padding-top: 65px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
}

.full-width {
  width: 100%;
}

.centered {
  text-align: center;
}

.mp-nav {
  width: calc(100% - 80px);
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px 40px;
  height: 45px;
}

.mp-nav-items {
  margin-left: auto;
}

.mp-nav-items > a {
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  margin-left: 15px;
  padding: 10px;
}

.mp-nav-items > a:first-child {
  color: blue;
}

.mp-nav-items > a:hover {
  background-color: lightgrey;
}

.mp-content {
  padding: 50px 10px;
  display: flex;
  align-items: center;
}

.mp-main-card {
  box-shadow: -1px 1px 5px darkgrey;
  margin-right: 50px;
  margin-left: auto;
  width: 400px;
  min-width: 300px;
  max-width: 90%;
  background: url('/profile.jpg');
  background-size: cover;
  background-position: center;
}

.mp-main-card-header {
  min-height: 450px;
  text-align: center;
  position: relative;
}

.mp-main-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-shadow: 0px 0px 1px white, 0px 0px 3px white;
}

.mp-main-card-subtitles {
  background-color: white;
  padding: 5px;
  text-align: center;
}

.mp-main-about-me {
  margin-right: auto;
  min-height: 400px;
  width: 600px;
  max-width: 90%;
  text-align:justify;
}

.mp-main-about-me > p {
  line-height: 1.5;
}

.mp-chip {
  display: inline-block;
  background-color: indigo;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 10px;
}

.mp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.mp-grid-100px {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.mp-grid-200px {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.mp-cell {
  min-width: 100px;
}

.mp-cell > h4 {
  text-align: center;
}

.mp-timeline {
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

.mp-timeline-container {
  width: 50%;
  min-height: 100px;
  break-inside: avoid;
}

.mp-timeline-container-left {
  border-right: 2px solid #000;
  text-align: right;
  margin-right: 50%;
}

.mp-timeline-container-right {
  border-left: 2px solid #000;
  text-align: left;
  margin-left: 50%;
}

.mp-timeline-content {
  width: calc(100% - 40px);
  margin: 0 10px;
  padding: 10px;
}

.mp-timeline-content > * {
  line-height: 1.25;
  margin: 1px;
  padding: 1px;
}

.mp-timeline-time {
  font-size: 14px;
  color: green;
  font-weight: bold;
}

.mp-timeline-dot {
  position: absolute;
  transform: translate(-50%, 50%);
}

.mp-timeline-info {
  text-align: justify;
}

.mp-footer {
  border-top: 2px solid grey;
  padding: 20px;
  width: calc(100% - 40px);
  display: flex;
}

.mp-footer-contact {
  padding: 10px;
  margin-right: auto;
}

.mp-footer-repo {
  padding: 10px;
}

.mp-footer-repo > a {
  color: blue;
  text-decoration: none;
}

.mp-footer-contact > p {
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

.mp-footer-contact > p > a {
  color: blue;
  text-decoration: none;
}

.mp-footer-repo > p {
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

.mp-footer-repo > p > a {
  color: blue;
  text-decoration: none;
}

.mp-language {
  width: 600px;
  max-width: calc(100% - 30px);
  padding: 10px;
  margin: 20px auto;
  display: flex;
  font-size: 18px;
  border-bottom: 2px solid grey;
}

.mp-language > *:first-child {
  margin-right: auto;
}

@media print {
  main { padding: 0; }
  .mp-nav {
    display: none;
  }
  .mp-main-about-me {
    width: calc(100% - 250px);
  }
  .mp-main-card {
    width: 200px;
    box-shadow: none;
  }
  .mp-main-card-image {
    height: 200px;
  }
  .mp-main-card-subtitles {
    text-align: justify;
  }
  .mp-chip {
    border: 1.5px solid grey;
  }
}

@media screen and (max-width: 600px) {
  .mp-timeline-container-right, .mp-timeline-container-left {
    border: none;
    border-left: 2px solid #000;
    text-align: left;
    margin-left: 0;
    width: 100%;
  }

  .mp-content {
    display: block;
    padding: 10px 0;
  }

  .mp-main-about-me, .mp-main-card {
    margin: auto;
  }

  .mp-nav-items {
    display: none;
  }

  .mp-nav-title {
    margin: auto;
    text-align: center;
  }
}
