
.chip {
  display: inline-block;
  background-color: brown;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 2px;
  font-size: 10px;
}

@media print {
  .chip {
    font-size: 8px;
  }
}
