
.footer_column {
  width: 33%;
  /* width: 250px; */
}

.footer_column:nth-child(1) {
  text-align: left;
}

.footer_column:nth-child(2) {
  margin: 0 auto;
  text-align: center;
}

.footer_column:nth-child(3) {
  text-align: right;
}

@media print {
  .footer_column {

  }
}
