html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: green;
  text-decoration: none;
}

* {
  font-family: arial;
  /* box-sizing: border-box; */
}

.hidden {
  display: none;
}

@page {
  margin: 2cm 1cm;
}

@media screen and (max-width: 799px) {
  .no-small {
    display: none;
  }
}
