
.language {
  width: calc(100% - 20px);
  max-width: 600px;
  margin: auto;
  padding: 10px;
  display: flex;
  font-size: 18px;
  border-bottom: 2px solid grey;
}

.language:last-child {
  border-bottom: none;
}

.language > *:first-child {
  margin-right: auto;
}
