.nav_mobile {
  z-index: 999;
  box-shadow: -3px 3px 3px grey;
  width: calc(100% - 40px);
  position: fixed;
  top: 60px;
  left: 0;
  padding: 0 20px;
  background: white;
}

.nav_mobile > * {
  padding: 20px;
  font-size: 20px;
  width: calc(100% - 40px);
  display: block;
}

.nav_button {
  border-radius: 10px;
  padding: 5px;
  border: none;
  background: white;
}

.nav_button:active {
  background: lightgrey;
}

.nav_button > svg {
  width: 24px;
  height: 24px;
}

.container {
  margin-left: auto;
}

@media print {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 799px) {
  .nav {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .nav_mobile {
    display: none !important;
  }

  .nav_button {
    display: none !important;
  }
}
