
.profile_card {
  width: 300px;
  padding: 2px;
}

@media screen and (max-width: 799px) {
  .profile_card {
    margin: auto;
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  .profile_card {
    margin: 0;
    margin-left: auto;
  }
}

@media print {
  .profile_card {
    width: 200px;
  }
}
