
.profile_description {
  margin: 0;
  margin-left: 50px;
  margin-right: auto;
  width: 400px;
  /* width: auto; */
  max-width: calc(100% - 60px);
  text-align: justify;
}

@media screen and (max-width: 799px) {
  .profile_description {
    margin: 10px;
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 800px) {
  .profile_description {
    width: calc(100% - 400px);
    max-width: 600px;
    margin-left: 50px;
    margin-right: auto;
  }
}
