.profile_image {
  width: calc(100% - 16px);
  padding: 10px 10px 5px;
  border: 3px solid green;
  border-radius: 100%;
}

.profile_image > * {
  border-radius: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
