
.profile_card_title {
  color: black;
  background: white;
  text-align: center;
  padding: 5px;
  width: calc(100% - 10px);
}

.profile_card_title > h2 {
  font-size: 18px;
  padding: 0px;
  margin: 5px 0px;
}

.profile_card_title > h3 {
  font-size: 16px;
  padding: 0px;
  margin: 5px 0px;
}
