
.timeline_item {
  margin: 0;
  padding: 0;
  width: 50%;
  /* min-height: 100px; */
  break-inside: avoid;
}

.timeline_item > p {
  line-height: 1.25;
  padding: 2px 20px;
  margin: 0;
}

.timeline_item > svg {
  position: absolute;
  transform: translate(-50%, 0%);
}

.timeline_date {
  color: green;
  font-weight: bold;
}

.timeline_title {
  font-weight: bold;
}

.timeline_description {
  text-align: justify;
}

@media screen and (min-width: 800px) {
  .timeline_item:nth-child(odd) {
    border-right: 2px solid black;
    text-align: right;
    margin-right: 50%;
  }

  .timeline_item:nth-child(even) {
    border-left: 2px solid black;
    text-align: left;
    margin-left: 50%;
  }
}

@media screen and (max-width: 799px) {
  .timeline_item {
    width: 100%;
    border-left: 2px solid black;
    text-align: left;
    margin-left: 0;
  }
}

@media print {
  .timeline_item {
    width: 100%;
    border-left: 2px solid black;
    text-align: left;
    margin-left: 0;
  }
}
